<div id="landing-view" class="container m-5" style="margin: 6% 23%">
    <div class="row justify-content-center m-5 align-self-center" style="margin: 10% 25%">
        <div id="landing-view-content" class="col-12 align-items-center text-center p-5">
            <h1 id="landing-view-header">Welcome to PinIt!</h1>
            <p class="m-3">To continue to the application, login or sign up below.</p>
            <button id="landing-view-login-button" type="button" class="btn btn-secondary btn-lg m-3">Login</button>
            <button id="landing-view-signup-button" type="button" class="btn btn-secondary btn-lg m-3">Sign Up</button>
        </div>
    </div>
</div>

<script src="/js/landing.js"></script>
