<div id="login-view" class="container" style="margin: 3% 23%">
    <div class="row justify-content-center" style="margin: 5% 25%">
        <div id="login-view-content" class="col-12 text-center p-5">
            <h2 id="login-view-header">Sign Up</h2>
            <div class="my-3 row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail">
                </div>
            </div>
            <div class="my-3 row">
                <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsername">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
            </div>
            <button id="update-user-button" type="button" class="btn btn-dark mx-5 my-4" style="width: 35%;">Login</button>
        </div>
        <div id="suggest-create-account" class="text-center">
            <p>Have an account? <a href="/login">Sign in here.</a></p>
        </div>
    </div>
</div>