:root {
    --primary: #FFF2D8;
    --secondary: #EAD7BB;
    --tertiary: #BCA37F;
    --quatrinary: #113946;
    --shadow: #635644;
}

body {
    background: var(--primary);
}

#map {
    height: 55%;

}

#site-nav {
    background: var(--quatrinary);
}

#site-nav-title {
    color: var(--primary);
}

#update-user-button,
#save-location-button,
#location-search-button,
#site-login-button {
    background-color: var(--primary);
    border-color: var(--shadow);
    color:var(--quatrinary);
}

#update-user-button:hover,
#save-location-button:hover,
#location-search-button:hover,
#site-login-button:hover {
    background-color: var(--tertiary);
    border-color: var(--shadow);
    color:var(--quatrinary);
}

#login-view,
#landing-view {
    max-width: 55%;
}


#login-view-content,
#profile-veiw-content,
#landing-view-content {
    min-width: 750px;
}

#saved-pins,
#login-view-header,
#profile-view-header,
#landing-view-header {
    font-style: italic;
    font-size: 75px;
}

#login-view,
#profile-view,
#landing-view,
#application-ui,
#saved-locations {
    margin: 0px 15px;
    min-height: 500px;
    background: var(--secondary);
    border: 3px solid var(--tertiary);
    box-shadow: 3px 3px 6px var(--shadow);
    border-radius: 15px;
}


#saved-locations-title {
    font-weight: bold;
}

#saved-pins-list,
#saved-locations-list {
    list-style: none;
    margin-left: -30px;
}

#saved-pin {
    font-size: medium;
}

#save-location {
    width: 90%;
    background-color: var(--tertiary);
    border: 3px solid var(--shadow);
    border-radius: 10px;
}

#save-location-title {
    letter-spacing: 0.1rem;
}

#form-field {
    width: 100%;
}